<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <header class="pages">
    <%- include("partials/header.ejs") %> 
    </header>
  <h1> Edit <%=product.name %> </h1>
 <form action="/products/<%=product._id%>?_method=PUT " method="POST">
   Name: <input type="text" name="name" value="<%=product.name %>">
   Description: <input type="text" name="description" value="<%=product.description%>">
   Price: <input type="text" name="price" value="<%=product.price%>">
   Inventory On Hand: <input type="text" name="qty" value="<%=product.qty%>">
   Image: <input type="text" name="img" value="<%=product.img%>">
   <input type="submit" value="UPDATE ME">
 </form>
</body>
</html>