<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head.ejs") %> 
<body>
  <header class="pages">
    <%- include("partials/header.ejs", {title: "All Products"}) %> 
  </header>
  <main>
    <h3><a href="/products/new">Add New Product</a></h3>
    <div class="product-list">
      <% products.forEach(product => { %>
        <div class="product">
          <a href="/products/<%=product._id%> "><img src="<%=product.img%>" alt="<%=product.name %> "></a> </br>
          Name: <%= product.name %> </br>
          Description: <%= product.description %> </br>
          Price: <%= product.price %> </br>
          Quantity: <%= product.qty %>    
        </div>
      <% }) %> 
    </div>
  </main>

</body>
</html>