<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Products</title>
</head>
<body>
  <h1>All Products</h1>
  <h3><a href="/">Add New Product</a></h3>

  <% products.forEach(product => { %>
   <div>
    <a href="/products/<%=product._id%> "><img src="<%=product.img%>" alt=""></a> </br>
    Name: <%= product.name %> </br>
    Description: <%= product.description %> </br>
    Price: <%= product.price %> </br>
    Quantity: <%= product.qty %>    
   </div>
  <% }) %> 
</body>
</html>