<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head.ejs") %> 
<body>
  <header class="pages">
    <%- include("partials/header.ejs", {title: "All Products"}) %> 
  </header>
  <main>
    <div class="btn-div">
      <a href="/products/new">Add New Product</a>
    </div>
    <div class="container">
      <div class="row row-cols-3 gx-4 gy-5">
        <% products.forEach(product => { %>
          <div class="col product">
            <div class="item-card">
              <a href="/products/<%=product._id%> "><img src="<%=product.img%>" alt="<%=product.name %> "></a> </br>
              <div>
              <p><%= product.name %>: $<%= product.price %></p>
              <p class="text-center"><%= product.description %></p>
              <p>In Stock: <%= product.qty %> </p>
              </div>
            </div>
   
          </div>
        <% }) %> 
      </div>
    </div>
  </main>

</body>
</html>