<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Product</title>
</head>
<body>
  <h1><%= product.name%> </h1>
  <h3><a href="/products">Go Back To All Products</a></h3>
  <div>
    <img src="<%=product.img%>" alt=""> </br>
    <a href="/products/<%=product._id%>/edit ">EDIT ME</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="post">
      <input type="submit" value="DELETE ME">
    </form>
    <% if(product.qty === 0) { %>
      <p>Out Of Stock</p>
    <% } else { %> 
    <p># of Items Left: <%= product.qty %> </p>
    <button>BUY NOW</button>   
    <% } %> 
     
  </div>
</body>
</html>