<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head.ejs") %> 
<body>
  <header class="pages">
    <%- include("partials/header.ejs", {title: `${product.name}`}) %> 
    </header>
  <div class="show-card d-flex flex-column justify-content-center align-items-center">
    <img src="<%=product.img%>" alt=""> </br>
    <div>
      <a href="/products/<%=product._id%>/edit ">
        <input id="btn-edit" type="button" value="EDIT ME">
      </a>
      <form action="/products/<%=product._id%>?_method=DELETE" method="post">
        <input id="btn-del" type="submit" value="DELETE ME">
      </form>
    </div>
    <form action="/products/buy/<%=product._id%>?_method=PUT" method="post">
      <% if(product.qty === 0) { %>
      <p>Out Of Stock</p>
      <% } else { %> 
      <p># of Items Left: <%= product.qty %> </p>
      <input id="btn-buy" type="submit" value="BUY ME">
      <% } %> 
    </form>
  </div>
  <div class="back-btn">
    <a href="/products">
      <input id="btn-back" type="button" value="Go Back To All Products">
    </a>
  </div>
  
</body>
</html>